{%extends "layout.html"%}
{%block content%}
<div class="about">
    <h1>About the Project</h1>
    <p><h3>Data Visualization on live site using Flask framework using live data from GOOGLE.</h3><p>
    <p>This web app is developed for embedding Bokeh charts in a live website.</p>
    <p>The Data is stored in pandas dataframe for easy access and management<p>
    <p>The Finance data is fetched from google. And Converted into representable form i.e. "Candlestick chart"</p>
    <p>Made by - Vikas Jethwani</p>
</div>
{%endblock%}
